.form {
  width: 600px;
  background:
  radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
  linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
  background-size:40px 60px;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
  margin: auto;
}

.padded {
	padding: 10px;
	width: 100%;
}

.textAboveForm {
	font-size: 1.5rem;
	max-width: 90%;
	text-align: center;
	margin: auto;
	padding: auto;
	margin-bottom: 10px;
}
.centerItHorizontally {
	margin-right: auto;
	margin-left: auto;
}
.flexed {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.urlInputSpan {
	/*font-size: 1rem;
	padding: 8px;
	margin: 10px;
	background-color: red;*/
	background-color: #636e72;
	color: white;
	padding: 8px 10px;
	margin: 10px;
	font-weight: bold;
	border-radius: 100%;
}

.urlInput {
	padding: 6px;
	width: 100%;
	font-size: 1.25rem;
}
.urlInput::placeholder {
	text-align: center;
}


.detectButton {
	/*w-30 grow linkpv2 dib white*/
	cursor: pointer;
	font-size: 1.25rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
  padding-bottom: .5rem;
	transition: all 0.3s ease;
	background-color: #a463f2;
	color: white;
	width: 30%;
	text-decoration: none;
	display: inline-block;
	text-transform: none;
	outline: none;
	min-width: 168.84px;
	margin-top: 20px;
}

.detectButton:hover, .detectButton:focus, .detectButton:active {
	transform: scale(1.05);
	outline: none;
}

.fileUploadButton {
	background-color: rgba(0,0,0,0.8);
	color: white;
	padding: 14px 10px;
	min-width: 168.84px;
	outline: none;
	border: none;
}

@media screen and (max-width: 600px) {
	.form {
		width: 80%;
		/*margin: ;*/
	}
	.textAboveForm {
		max-width: 70%;
	}
	.padded {
		padding: 0px;
	}
	.centerItHorizontally {
		text-align: center;
	}
}
/*@media screen and (max-width: 400px) {
	.form {
		width: 60%;
	}
	.padded {
		padding: 0px;
	}
	.centerItHorizontally {
		text-align: center;
	}
}*/