.rankParent {
	width: 90%;
	max-width: 1045px;
	padding: 30px 40px;
	margin: auto;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.8);
}
.rankText {
	color: white;
	font-size: 1.5rem;
	max-width: 100%;
	margin: auto;
	padding: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.rankText:nth-child(3) {
	color: gold;
}
.rankNumber {
	color: white;
	font-size: 3rem;
	max-width: 90%;
	margin: auto;
	padding: auto;
}