.signinArticle {
	margin-right: auto;
	margin-left: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 400px;
	width: 100%;
	box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
	border-radius: 0.5rem;
	border-color: rgba( 0, 0, 0, .1 );
	border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.747);
}

.signinMain {
	padding: 20px;
	color: rgba( 0, 0, 0, .8 );
	box-sizing: border-box;
}

.signinMeasure {
	max-width: 30em;
	box-sizing: border-box;
}

.signinFieldset {
	margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

.signinLegend {
	margin-left: 0;
	margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
  font-size: 3rem;
  box-sizing: border-box;
}

.signinErrorDisplay {
	color: red;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	width: 230.44px;
	display: flex;
	justify-content: center;
	word-wrap: break-word;
	margin: auto;
}

.signinFieldsError {
	margin-top: 0px;
	padding: 0;
}

.belowLegendDivInSignin {
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-content: flex-start;
}

.belowLegendLabelInSignin {
	font-size: .875rem;
	line-height: 1.5;
	font-weight: 600;
	display: block;
}

.belowLegendInputInSignin {
	box-sizing: border-box;
	padding: .5rem;
	background-color: transparent;
	-webkit-appearance: none;
	border: 1px solid black;
	outline: none;
	margin: auto;
	/* margin-bottom: 20px; */
	width: 230.44px;
	display: block;
}

.belowLegendInputInSignin::placeholder {
	color: rgb(24, 24, 24);
}

.belowLegendInputInSignin:hover {
	background-color: #000;
	border-color: white;
	color: white;
}

.highlightClassInSignIn {
	border: 2px solid red;
}
.highlightClassInSignIn:hover {
	border: 2px solid red;
}
.highlightClassInSignIn:active, .highlightClassInSignIn:focus {
	border: 2px solid red;
}
.highlightClassInSignIn:invalid {
	border: 2px solid red;
}
.highlightClassInSignIn:valid {
	border: 1px solid black;
}

.signinButtonInSignin {
	cursor: pointer;
	transition: all 0.3s ease-out;
	font-size: 0.875rem;
	padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  -webkit-appearance: none;
  font-weight: bold;
  display: inline-block;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
}

.signinButtonInSignin:hover {
	transform: scale(1.05);
	background-color: black;
	color: white;
}

.belowSigninButtonDiv {
	margin-top: 1rem;
  line-height: 1.5;
}

.registerLinkInSignin {
	opacity: 1;
  transition: all 0.3s ease-out;
  font-size: .875rem;
  color: #000;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
	margin-top: 20px;
	font-size: 16px;
}
.registerLinkInSignin:nth-child(2){
	margin-bottom: 10px;
	margin-top: -10px;
}

.registerLinkInSignin:hover {
	font-weight: bold;
	transform: scale(1.05);
}

@media screen and (max-width: 600px) {
	.signinArticle {
		max-width: 94%;
	}

	.signinMain {
		padding: 0.8rem 0;
	}
}