.lightning-modal {
	background-color: rgb(255, 255, 255, 0.2);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* source: https://codepen.io/Chrislion_me/pen/rVqwbO */
/* Now the same background, but with brightness filters*/
.lightning{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
	height: 100%;
	background: url('http://www.transparentpng.com/thumb/thunderstorm/photo-editing-effects-thunderstorm-png-8.png');
	background-repeat: repeat-x;
  /* background-position: center center; */
  background-origin: content-box;
  background-size: contain;
  background-attachment: fixed;
  -webkit-filter: brightness(3);
  filter: brightness(3);
  -o-filter: brightness(3);
  -moz-filter: brightness(3);
	z-index: -100;
}

/*Now just a opacity animation*/
.flashit{
	-webkit-animation: flash ease-out 7s infinite;
	-moz-animation: flash ease-out 7s infinite;
	animation: flash ease-out 7s infinite;
	animation-delay: 0.7s;
}

@-webkit-keyframes flash {
	from { opacity: 0; } 
		92% { opacity: 0; }
		93% { opacity: 0.6; }
		94% { opacity: 0.2; }
		96% { opacity: 0.9; } 
	to { opacity: 0; }
}

@keyframes flash {
	from { opacity: 0; } 
    92% { opacity: 0; }
		93% { opacity: 0.6; }
    94% { opacity: 0.2; }
    96% { opacity: 1; } 
	to { opacity: 0; }
}