.TiltParentDiv {
	width: 50%;
	padding-left: 32px;
	padding-top: 32px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.Tilt {
	top: 0;
  box-shadow: 0 0 8px 2px rgba( 0, 0, 0, .2 );
  height: 150px;
  width: 150px;
  border-radius: 0.25rem;
}

.Tilt-inner {
	padding: 1rem;
}
@media screen and (max-width: 400px) {
	.TiltParentDivMin {
		padding-left: 10px;
		transform: scale(0.9);
	}
}