.TiltParentDiv {
	width: 50%;
	padding-left: 32px;
	padding-top: 32px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.Tilt {
	top: 0;
  box-shadow: 0 0 8px 2px rgba( 0, 0, 0, .2 );
  height: 150px;
  width: 150px;
  border-radius: 0.25rem;
}

.Tilt-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logoImg {
	max-width: 100px;
	height: 60px;
	margin-top: 20px;
}
.logoEmoji {
	font-size: 62px;
}

.logoText {
	color: white;
}

@media screen and (max-width: 400px) {
	.TiltParentDiv {
		padding-left: 10px;
		transform: scale(0.9);
	}
}