.navHome {
	display: grid;
	grid-template-columns: 6fr 6fr;
}

.gridCol1 {
	max-width: 50%;
}
.gridCol2 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	width: 50%;
	min-width: 64px;
	padding-top: 32px;
	padding-right: 32px;
}

.nav {
	display: grid;
	grid-template-columns: 6fr 6fr;
}

.divInNav {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	width: 50%;
	padding-top: 22px;
	padding-right: 20px;
}
.customLink {
	font-size: 1.5rem;
	color: black;
	cursor: pointer;
	height: 60px;
	margin: 10px;
	padding: 10px;
	text-decoration: underline;
	background: none;
	border:none;
	outline: none;
	transition: all 0.4s ease;
}
.customLink:hover {
	color: gold;
	font-weight: 600;
}
.customLink:active {
	outline: none;
}

.customLink:focus {
	outline: none;
}

@media screen and (max-width: 600px) {
	.gridCol2 {
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-start;
		padding-top: 42px;
		padding-left: 0px;
		/*padding-right: 10px;*/
		margin: 0;
	}
	.divInNav {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 22px;
		padding-left: 0px;
		padding-right: 0px;
		margin: 0;
	}
	.customLink {
		margin: 0px 10px;
		padding: 10px;
	}
}