.registerArticle {
	margin-right: auto;
	margin-left: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 400px;
	width: 100%;
	box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, 0.2 );
	border-radius: 0.5rem;
	border-color: rgba( 0, 0, 0, .1 );
	border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.747);
}

.registerMain {
	padding: 2rem;
	color: rgba( 0, 0, 0, .8 );
	box-sizing: border-box;
}

.registerMeasure {
	max-width: 30em;
	box-sizing: border-box;
}

.registerFieldset {
	margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

.registerLegend {
	margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  font-weight: 600;
  font-size: 3rem;
  box-sizing: border-box;
}

.registerErrorDisplay {
	color: red;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	width: 230.44px;
	display: flex;
	justify-content: center;
	word-wrap: break-word;
	margin: auto;
}

.registerFieldsError {
	margin-top: -20px;
}
.belowLegendDiv {
	margin: 10px 0px;
}

.belowLegendLabel {
	font-size: .875rem;
	line-height: 1.5;
	font-weight: 600;
	display: block;
}

.belowLegendInput {
	box-sizing: border-box;
	padding: .5rem;
	background-color: transparent;
	-webkit-appearance: none;
	border: 1px solid black;
	width: 100%;
	outline: none;
	margin: auto;
	margin-bottom: 20px;
	width: 230.44px;
	display: block;
}

.belowLegendInput::placeholder {
	color: rgb(153, 153, 153);
}

.belowLegendInput:hover {
	background-color: #000;
	border-color: white;
	color: white;
}

.passwordInRegisterDiv {
	margin-top: 1rem;
  margin-bottom: 1rem;
}

.highlightClassInRegister {
	border: 2px solid red;
}
.highlightClassInRegister:hover {
	border: 2px solid red;
}
.highlightClassInRegister:active, .highlightClassInRegister:focus {
	border: 2px solid red;
}
.highlightClassInRegister:invalid {
	border: 2px solid red;
}
.highlightClassInRegister:valid {
	border: 1px solid black;
}

.registerButton {
	cursor: pointer;
	transition: all 0.3s ease-out;
	font-size: 0.875rem;
	padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  -webkit-appearance: none;
  font-weight: bold;
  display: inline-block;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  margin-top: 10px;
}

.registerButton:hover {
	transform: scale(1.05);
}

.belowRegisterButtonDiv {
	margin-top: 1rem;
  line-height: 1.5;
}

.signinLinkInRegister {
	opacity: 1;
  transition: all 0.3s ease-out;
  font-size: .875rem;
  color: #000;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
	margin-top: 10px;
	font-size: 16px;
}

.signinLinkInRegister:hover {
	font-weight: bold;
	transform: scale(1.05);
}

.step2Link {
	color: blue;
	text-decoration: underline;
}

.registerStep2 {
	color: blue;
}

.registerStep2:nth-child(2) {
	color: blue;
	text-decoration: underline;
}

@media screen and (max-width: 600px) {
	.registerArticle {
		max-width: 94%;
	}
	.registerMain {
		padding: 0.8rem 0;
	}
}