.FooterClass {
  background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
  position: sticky;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  padding: 20px;
}
.FooterCol1 {
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
  overflow: hidden;
}

.FooterCol2 {
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
  overflow: hidden;
}

.FooterCol3 {
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
  overflow: hidden;
}

.FooterLinkStyle {
  color: white;
  text-align: left;
  display: block;
}
.FooterLinkStyle:hover {
  color: white;
}

/* export const StyledFooter = styled.footer`
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 200px;
  margin-top: 20px;
  border-top: 1px solid saddlebrown;

  @media screen and (max-width: 550px) {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
`;

export const FooterColumn = styled.div`
  padding: 10%;
  overflow: hidden;

  @media screen and (max-width: 550px) {
    padding: 2%;
  }
  
`;
// replace with Link later
// export const FooterLink = styled(Link)`
export const FooterLink = styled.span`
  cursor: pointer;
  display: block;
  padding-left: 10%;
  padding-right: 10%;
`; */
@media screen and (max-width: 500px) {
  .FooterClass {
    grid-template-columns: 12fr;
  }
}