.centerFaceRec {
	display: flex;
	justify-content: center;
	max-width: 100%;
}

.absoluteDiv {
	/*absolute mt2*/
	position: absolute;
	margin: auto;
	margin-top: 20px;
	object-fit: contain;
	max-width: 90%;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.inputImage {
  max-width: 100%;
  margin: auto;
}