.App {
  text-align: center;
  overflow-x: hidden;
  display: grid;
	grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.row1 {
	grid-row: 1/1;
}
.row2 {
	grid-row: 2/2;
}
.row3 {
	grid-row: 3/3;
	background-color: red;
	width: 100%;
	position: sticky;
}

.rankAndImageFormWrapper {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
}